# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment & local temp files
.env
cookies.txt

# Uploads
web/static/uploads/*
!web/static/uploads/.gitkeep

# IDE / OS files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
